# Root-level compose variables
POSTGRES_USER=dental_user
POSTGRES_PASSWORD=changeme
POSTGRES_DB=dental_crm
POSTGRES_PORT=5432

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=changeme
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001

NGINX_HTTP_PORT=80
NGINX_HTTPS_PORT=443
